@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
}

.leftArrow {
  width: 10%;
  float: left;
  height: 100%;
  vertical-align: center;
  opacity: 99%;
}

.rightArrow {
  width: 10%;
  float: right;
  height: 100%;
  vertical-align: center;
  opacity: 99%;
}

.centerBox {
  width: 80%;
  height: 100%;
  vertical-align: center;
  float: left;
}
