@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
}

.leftArrow {
  width: 5%;
  float: left;
  height: 100%;
  vertical-align: center;
  opacity: 99%;
}

.rightArrow {
  width: 5%;
  float: right;
  height: 100%;
  vertical-align: center;
  opacity: 99%;
}

.centerBox {
  width: 90%;
  height: 100%;
  vertical-align: center;
  float: left;
}

.summaryContainer {
  top: 10%;
  overflow: auto;
}

.summaryCard {
  padding-top: 10px;
  padding-bottom: 5px;
  height: 250px;
}

.header {
  top: 0%;
  height: 10%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer {
  bottom: 0%;
  height: 10%;
  position: absolute;
}
